
@{
    ViewBag.Title = "Details";
    
}


<h2></h2>

<div class="form-group">

    <input type="hidden" class="form-control" id="TicketID" value="ViewBag.ID">
    <small id="Info" class="form-text text-muted">Please enter a name for your Event </small>
</div>
<div class="form-group">
    <label for="DescriptionLabel">BuyerLastName</label>
    <input type="text" class="form-control" id="BuyerLastName" placeholder="Enter Event Description">


</div>
<div class="form-group">
    <label for="DescriptionLabel"> BuyerFirstName</label>
    <input type="text" class="form-control" id="BuyerFirstName" placeholder="Enter Venue Name">

</div>
<div class="form-group">
    <label for="DescriptionLabel">BuyerAddress</label>
    <input type="text" class="form-control" id="BuyerAddress" placeholder="Enter adrees">

</div>



<div class="form-group">
    <label for="DescriptionLabel">BuyerCity</label>
    <input type="email" class="form-control" id="Email" placeholder=" Email ">
</div>

<button type="submit" id="buttonsaw123" class="btn btn-primary"> Enter</button>

@section scripts
    {
    <script>
        $("#buttonsaw123").click(function () {



            // declare the object
            var order = {
                TicketID: $('#TicketID').val(),
            BuyerLastName:$('#BuyerLastName').val(),
            BuyerFirstName: $('#BuyerFirstName').val(),
            BuyerAddress: $('#BuyerAddress').val(),
            BuyerCity: $('#BuyerCity').val(),
            amountToPay:500,
            Email:$('#Email').val(),

            }
           



            // convert the object into a json string


            // simple ajax call to post your json data
            $.ajax({
                url: "http://localhost:55792/api/Orders",
                type: "POST",
                dataType: "json",
                data: JSON.stringify(order),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    alert("good");
                },
                error: function (result) {
                    alert(result);
                    alert(JSON.stringify(event));

                }
            }).done(function (data){
                alert("Done");

            });


        })

    </script>
}



