@model List<TicketSystem.RestApiClient.Model.EventForbooking>


@using TicketSystem.RestApiClient.Model;
@{
    ViewBag.Title = "ViewAll";
}

<h2>AllEvents</h2>


Förnamn <br> <input type="text" name="FirstName" value="Mickey"><br>
Efternamn<br><input type="text" name="LastName" value="Mouse"><br>
Adress  <br> <input type="text" name="Address" value="Mickey"><br>
Stad   <br>  <input type="text" name="City" value="Mouse"><br>
Valuta  <br> <input type="text" name="FirstName" value="Mickey">


@foreach (var item in @Model)
{

    <form action="~/Home/Details" method="post">
        <lu>
            <h1> @item.EventStartDateTime</h1>
            <h1> @item.EventName</h1>
            <input type="hidden" name="id" value="@item.TicketEventDateID" />
            <input type="submit" value="Book this Now" />


        </lu>
    </form>

}


