
@{
    ViewData["Title"] = "CreteEvent";
}

<h2>CreteEvent</h2>

    <div class="form-group">
        <label for="exampleInputEmail1">Event Name</label>
        <input type="text" class="form-control" id="EventName" placeholder="Enter Event Name">
        <small id="Info" class="form-text text-muted">Please enter a name for your Event </small>
    </div>
    <div class="form-group">
        <label for="DescriptionLabel">Event Description</label>
        <input type="text" class="form-control" id="EventDescription" placeholder="Enter Event Description">

    </div>
    <div class="form-group">
        <label for="DescriptionLabel">Venue Name</label>
        <input type="text" class="form-control" id="VenueName" placeholder="Enter Venue Name">

    </div>
    <div class="form-group">
        <label for="DescriptionLabel">Number Of Seats</label>
        <input type="text" class="form-control" id="seats" placeholder="Enter seats">

    </div>
    


    <div class="form-group">
        <label for="DescriptionLabel">Venue Addres</label>
        <input type="text" class="form-control" id="VenueAddres" placeholder=" type Venue Addres ">
    </div>
    <div class="form-group">
        <label for="DescriptionLabel">Venue city</label>
        <input type="text" class="form-control" id="Venuecity" placeholder="Venue city">
    </div>
    <div class="form-group">
        <label for="DescriptionLabel">Type venue Contry</label>
        <input type="text" class="form-control" id="Venuecountry" placeholder="Type venue Contry">
    </div>
    <div class="form-group">
        <label for="DescriptionLabel">Event Date</label>
        <input type="text" class="form-control" id="EventDate" placeholder="Enter Event Date">

    </div>
    <button type="submit" id="buttonsaw123" class="btn btn-primary"> Enter</button>

@section scripts
    {
    <script>
        $("#buttonsaw123").click(function ()
        {
            var i = $('#Venuecity').val()
                alert(i);
        // declare the object
                var Event = {
                    Seats: $('#seats').val(),
                    Venues:{
                        VenueName: $('#VenueName').val(),
                        Address: $('#VenueAddres').val(),
                        City:$('#Venuecity').val(),
                        country: $('#Venuecountry').val()
                    },
                    TicketEvents: {
                        EventName : $('#EventName').val(),
                        EventHtmlDescription: $('#EventDescription').val(),
                       
                    },
                    TicketEventDates:{
                        EventStartDateTime: $('#EventDate').val()
                    }
        };

       
       

        // convert the object into a json string
        var data_json = JSON.stringify(Event);

        // simple ajax call to post your json data
        jQuery.ajax('http://localhost:55792/api/Event',{
            type:'POST',
            data: data_json,
            contentType: 'application/json'
        }).done(function (data, status, jqr) {
            alert(status);
        })
   

})
              
    </script>
        }
      




 




