@model List<TicketSystem.RestApiClient.Model.TicketEvent>
@{
    ViewData["Title"] = "GetEvents";
}

<h2>GetEvents</h2>

@{
    
    foreach(var i in Model)
    {
      
        <div style="background-color:aquamarine; border-radius:unset">
            <h1 style="background-color:rebeccapurple">@i.EventName </h1>
            
            <h1> @i.EventHtmlDescription</h1>
            <button  value="@i.TicketEventID"style="width:50px; height:20px;" > Update</button>
            <button value="@i.TicketEventID"  style="width:50px; height:20px;"> Delete</button>
        </div>



    }


}