@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<div>
    If you want to book more than 30 tickets, please contact us via phone.<br />
    <text>Phone Number: (+46)8 - 954563</text>
    
</div>


